profiles {
    docker {
      docker.enabled = true
    }
}

  params {
  params.bams = [
    ["project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J1Yz6P049jJFP4xXFZx0PG8p","project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J1YzPyj49jJPq7BB2fy36B48"]
  ]

  params.refs = [
    "project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J2K8Z7j49jJ1zqXg7Jfq56Gk",
    "project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J2K8ZF849jJ1PjBJ2Yb1v1YX",
    "project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J2K8ZFQ49jJ8pz3kkfPB2bBV",
    "project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J2K8ZFj49jJ74gyg4p3f6ZpF",
    "project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J2K8ZPQ49jJKkj4VFyG55XZ3",
    "project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J2K8ZQj49jJ4k4F923BQPKZV"
  ]

  params.outdir    = "${baseDir}/results"       
  params.tools     = ['scramble','melt','mobster','mobtovcf','deepmei']
}


process {
  executor = 'local'
}