profiles {
    docker {
      docker.enabled = true
    }
}

  params {
  params.bams = [
    ["project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J1Yz6P049jJFP4xXFZx0PG8p","project-J00J2YQ49jJKz0Xq6yB4qB4x:file-J1YzPyj49jJPq7BB2fy36B48"]

  ]
  params.refs = [

  ]
  params.outdir    = "${baseDir}/results"        // destination root
  params.tools     = ['scramble','melt','mobster','mobtovcf','deepmei']
}

process {
  executor = 'local'
}